.technology {
  border-radius: 100vmax;
  padding: 2px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}

/* Completar luego */

.technology.astro {
  background-color: rgba(0, 0, 0, 0.676);
  color: white;

  .technology-icon {
    width: 12px;
  }
}

.technology.bootstrap {
  background-color: white;
  color: #7310f5;

  .technology-icon {
    width: 18px;
  }
}

.technology.midudev {
  background-color: #0099ff;
  color: #fff;
  font-weight: 500;
}

.technology.midudev:hover {
  background-color: #007dd1;
}


.technology.react {
  background-color: #23272f;
  color: white;
}

.technology.tailwind {
  background-color: #003159;
  color: white
}

.technology-icon {
  width: 15px;
}

.project-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 420px;
  min-height: 460px;
  border: var(--border-projects);

  background: var(--box-background);
  border-radius: 20px;
  padding: 10px;
  gap: 5px;
}

.project-img {
  margin-bottom: 15px;
  border-radius: 10px;
  width: 100%;
  max-height: 200px;
}


h3 {
  font-size: 19px;
  margin-bottom: 15px;
  font-weight: bold;
}

.technology-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.btn-container {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn-links {
  font-weight: bold;
  background-color: var(--background-color-card-projects);
  padding: 10px 20px;
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.584);
  border-radius: 100vmax;
  transition: all 0.2s ease;
}

.btn-links:hover {
  border: var(--border-card-projects);
  transform: scale(1.12);
  background-color: rgba(0, 0, 0, 0.584);
  color: white;
}

.btn-links:active {
  transform: translateY(2px);
}